/* CSS Reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 10px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.navbar li {
    padding-left: 14px;
    padding-right: 8px;
}

.left-nav-links {
    display: flex;
    font-size: 14px;

}

.right-nav-links {
    display: flex;
    align-items: center;
    font-size: 13px;
}

/* Main Search Area */
.main-area {
    display: flex;
    flex-direction: column;
}

/* Started Working On Footer Early! */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

footer li {
    padding-left: 14px;
    padding-right: 8px;
}

.left-footer-links {
    display: flex;
    padding: 8px;
}

.center-footer-links {
    display:flex;
}

.right-footer-links {
    display: flex;
}